.login-form {
    width: 340px;
    margin: 50px auto;
    font-size: 15px;
    margin-top: 20%;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
    padding: 30px;
}

.bem-vindo {
    margin:auto;
}